* {
	background-color: lime;
}

img {
	width: 200px;
	height: 200px;
}

.red {
	color: red;
}

#blue {
	color: blue;
}

.right-text {
	text-align: right;
	font-size: 5rem;
}

.right-text:hover  {
	color: green;
}

#grad {
	width: 30rem;
	height: 20rem;
}